#presentation {
  text-align: center;
  line-height: 2.5rem;
  width: 80%;
  background-color: rgba(247, 226, 168, 0.671);
  border: 0px solid white;
  border-radius: 6px;
  padding: 2% 5%;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5.5em;
  margin-bottom: 3em;
}
