<div id="presentation" class="container">
  <div class="row">
    <div class="col-12">
      <p>En juin 2018, j'ai eu la chance d'aller au Maroc pour une semaine d'Herping avec l'association Atheris que je
        remercie encore énormément pour cette semaine extraordinaire.
        <br>
        L'Herping, pour les non-initiés, ça ne veut pas dire grand chose, en fait, c'est simplement un mot qui a été
        trouvé pour dire "d'aller chercher et observer les reptiles et amphibiens dans la nature".
        <br>
        Nous étions donc 7 passionnés venus au Maroc dans le but d'observer et photographier un maximum d'espèces
        différentes et nous n'avons vraiment pas été déçus.
        Pour ma part, j'ai 24 espèces que je peux vous présenter, pour les autres, soit je n'ai pas de photos potables,
        soit nous les avons observés de loin.
        <br>
        Pour cette fois je vais procéder différemment que sur les autres Reportages de Voyages.
        <br>
        Je vais présenter les photos espèce par espèce avec une petite présentation pour chacune d'elles, par ordre
        alphabétique.
        <br>
        Si vous désirez vous renseigner sur une espèce précise, vous n'avez qu'à cliquer sur son nom dans la liste, si
        il est écrit en jaune vous serez redirigé directement sur sa fiche espèce.
        <br>
        C'est parti !</p>
    </div>
  </div>
</div>
