.MiniOfLezards {

  .background {

    #cards {
      padding-left: 0;
      padding-right: 0;
      border-radius: 0.5;
      border: 1px solid rgb(0, 0, 0);
      text-align: center;

      .card-body {
        a{
          color: black;
        }
      }
      
      #cardImage {
        border-radius: 0;
      }

      p {
        font-style: italic;
      }

      h5 {
        font-weight: bold;
        color: black;
      }
    }
  }
}
.wrapper {
  margin-top: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  position: relative;
  display: inline-block;
  letter-spacing: 1.2px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn--primary {
  color: rgb(216, 180, 83);
}

.btn--border {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn--animated {
  transition-property: color;
  transition-duration: 0.5s;

  &.btn--border.btn--primary {
    border: 1px solid rgb(216, 180, 83);
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(216, 180, 83);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover {
    color: black;
    font-weight: bold;

    &:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    }
  }
}


h5 {
  color: black;
}
.littleTitle {
  color: white;
}
