<div id="Boutonsuite" class="row">
  <div class="wrapper col-12 d-flex justify-content-center">
    <nav>
      <a routerLink="/lezardsCards" class="btn btn--border btn--primary btn--animated mx-2 mt-5">Miniatures <i
          class="fas fa-image"></i></a>
      <a routerLink="/lezards" class="btn btn--border btn--primary btn--animated mx-2 mt-5">Liste <i
          class="fas fa-bars"></i></a>
      <a routerLink="/marocHome" class="btn btn--border btn--primary btn--animated mx-2 mt-5">Retour au Pays <i class="fas fa-globe-africa"></i></a>
    </nav>
  </div>
</div>

<div class="MiniOfLezards container mt-5 px-5">
  <div class="col-12 d-flex justify-content-center pb-5">
    <h5 class="littleTitle animated jello">Quel lézard voulez-vous découvrir ?</h5>
  </div>
  <div class="background row px-1">
    <div id="cards" *ngFor="let lezard of lezards" class="card col-12 col-md-6 col-xl-4 mb-3">
      <img id="cardImage" class="card-img-top" src="http://127.0.0.1:8000/uploads/image/lezards/{{lezard.Image}}"
        alt="{{lezard.FrenchName}}" title="{{lezard.FrenchName}}">
      <div class="card-body">
        <h5 class="card-title">{{lezard.FrenchName}}</h5>
        <p class="card-text">{{lezard.LatinName}}</p>
        <a routerLink="/lezardDetail/{{lezard.id}}" class="btn btn--border btn--primary btn--animated">Fiche descriptive</a>
      </div>
    </div>
  </div>
</div>
