<div id="accueil" class="container">
  <div class="row">
    <div class="col-12">
      <p>Je vais tenter, à travers mes voyages et mes sorties, de vous faire découvrir les merveilles que l'on peut
        trouver dans la nature.

        <br>
        <br>

        Vous pouvez manipuler le globe ci-dessous pour choisir un des pays en bleu pour découvrir sa biodiversité.
        <br>
        <br>
        C'est parti !</p>
      <br>
      <div class="arrow"></div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-12" id="chartdiv" style="width: 40%; height: 500px; margin: 0 auto;"></div>
  </div>
</div>
