<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}Morocco's Herping{% endblock %}
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/menu.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        defer></script>
    {% block stylesheets %}{% endblock %}
</head>

<body id="sss">
    <nav id="menu" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="./img/snake.png" alt="logo" style="height: 70px; width: 120px;">
            <p class="patap">Morocco's Herping</p>
        </a>
        <button aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarColor03" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ml-auto perso">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><span class="underline">Accueil</span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./serpents"><span class="underline">Serpents</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./sauriens"><span class="underline">Lézards</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="underline">Autres</span></a>
                </li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li class="marginFooter">
                            <a href="http://atheris.earth/">ATHERIS.earth</a>
                            <a href="https://www.naturaclic.com/">NATURACLIC</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li class="icons">
                            <a href="https://www.instagram.com/naturaclic/?hl=fr"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/DylanBouchetPhotographie/"><i
                                    class="fab fa-facebook-square"></i></a>
                            <a href="https://www.linkedin.com/in/dylan-bouchet-35214b123/"><i
                                    class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </footer>
    {% block javascripts %}{% endblock %}
</body>

</html>