<div id="Boutonsuite" class="row">
  <div class="wrapper col-12 d-flex justify-content-center">
    <nav>
      <a routerLink="/lezardsCards" class="btn btn--border btn--primary btn--animated mx-2 mt-5">Miniatures <i class="fas fa-image"></i></a>
      <a routerLink="/lezards" class="btn btn--border btn--primary btn--animated mx-2 mt-5">Liste <i class="fas fa-bars"></i></a>
      <a routerLink="/marocHome" class="btn btn--border btn--primary btn--animated mx-2 mt-5">Retour au pays <i class="fas fa-globe-africa"></i></a>
    </nav>
  </div>
</div>

<div class="listOfLezards container-fluid px-5 mt-5">
  <div class="background row">
    <div class="col-12 d-flex justify-content-center pt-5">
      <h5 class="animated jello">Quel saurien voulez-vous découvrir ?</h5>
    </div>

    <div class="listeGauche col-12 col-sm-6">
      <a *ngFor="let lezard of lezards | slice:0: 4" routerLink="/lezardDetail/{{lezard.id}}" class="animated fadeInLeft">
        <p><i class="fas fa-angle-right pr-3"></i><strong>{{lezard.FrenchName}}</strong> - <i>{{ lezard.LatinName }}</i>
        </p>
      </a>
    </div>
    <hr>
    <div class="listeDroite col-12 col-sm-6">
      <a *ngFor="let lezard of lezards | slice:4: 7" routerLink="/lezardDetail/{{lezard.id}}" class="animated fadeInRight">
        <p><strong>{{lezard.FrenchName}}</strong> - <i>{{ lezard.LatinName }}</i><i class="fas fa-angle-left pl-3"></i>
        </p>
      </a>
    </div>
  </div>
</div>
