/* You can add global styles to this file, and also import other style files */
body {

  background-image: url(./assets/imageSnakes/blackwall.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 250%;
    color: white;
  }

  h2 {
    font-family: 'Architects Daughter', cursive;
  }

  h6 {
    font-family: 'Josefin Sans', sans-serif;
  }

  p,
  a {
    font-family: 'Quicksand', sans-serif;
    color: black;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    color: lightgrey;
  }

  h5 {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 140%;
  }

}
